[package]
name = "frontend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
yew = { path = "../../yew/packages/yew", features = ["csr"] }
yew-router= { path = "../../yew/packages/yew-router" }

